## Yên tâm, đây chỉ là template. Tất cả dưới đây đều là credentials fake.
## Nhớ copy file này sang file credentials.env & update credentials thật của bạn vào từng biến sau khi tạo xong DB instance!

MYSQL_HOST="abcdefgh.abcd1234.ap-southeast-1.rds.amazonaws.com"
MYSQL_PORT=3306
MYSQL_USER="admin"
MYSQL_PASSWORD="123456789"
MYSQL_DB="etl_data"

## Nếu gặp lỗi không nhận được utf8mb3 khi connect Power BI với DB instance bằng phương thức MySQL:
## Thay giá trị Server, Port & Database của bạn vào connection string dưới đây & dùng nó để connect bằng phương thức OBDC

MYSQL_CONNECTION_STRING='Driver={MySQL ODBC 8.0 Unicode Driver};Server=abcdefgh.abcd1234.ap-southeast-1.rds.amazonaws.com;Port=3306;Database=etl_data;User=admin;Option=3;charset=utf8mb4;'